body, button {
    color: #F3EEF0;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
}
input, textarea, select {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    background-color: #212024;
    color: #F3EEF0;
    outline: none;
    border: 1px solid black;
}

button {
    margin: 8px;
    width: 100px;
    height: 50px;

    background-color: #0B7142;
    color: #F3EEF0;
    border: none;
}
button:hover {
    background-color: #0E874F;
    border: #F3EEF0;
}
.button-cancel:hover {
    background-color: #7B858A;
}
.button-cancel {
    background-color: #626A6F;
}
.button-danger:hover {
    background-color: #D53123;
}
.button-danger {
    background-color: #AC2A1F;
}

.event-page {
    width: 80%;
    margin: auto;
}

.page-title {
    display: flex;
    align-items: center;
}
.page-title-button {
    margin-left: 16px;
}

.editor-container {
    display: flex;
    flex-direction: row;
}

/*
    #212024 - Dark Boi
    #28272C - Lighter Dude
    #F3EEF0 - White

    #404375 - Pale Blue
    #0B7142 - Mint Green

    #C52E34 - Dark Orange
    #06692E - Dark Green
*/