.info-section {
    flex: 1 1 50%;
    margin: 0 24px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}


.part-editor-title {
    display: flex;
}
.part-editor-save {
    margin: 12px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}
.form-label {
    margin-top: 12px;
    font-size: 18px;
}
.form-text-area {
    width: 400px;
    height: 150px;
    resize: vertical;
}

.choice-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 16px;
}
